<!DOCTYPE html>
<html>
  <body id="meeting">
    <p>Hey <%= "#{@member.first_name}" %>,</p>
    <p>
      Just confirming that <b><%= @meeting.ego_to_s(@member, @excluded_members, 3) %></b> met this week for S'up.
    </p>
    <div class="black-button">
      <%= button_to "Save", meeting_path(@meeting, member_ids: params[:member_ids], member_id: @member.id ), method: :put %>
    </div>
  </body>
</html>
