<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to S'UP at Artsy, <%= @member.name %></h1>
    <p>
      You'll hear about each week's S'UP every Sunday by email.
    </p>
    <p>Thanks for joining and see you soon!</p>
  </body>
</html>