<form action="<%= feedbacks_url %>" method="post">
	<div id="comment-form">
		<h2>Thank you!</h2>
		<h3>Any comments or feedback to make S’UP at <%= ENV['COMPANY_NAME'] %> better?</h3>
		<textarea name="comment" placeholder="Add a comment"></textarea>
	    <input type="hidden" name="member_id" value="<%= params[:member_id] %>">
		<input
		   name="authenticity_token"
		   type="hidden"
		   value="<%= form_authenticity_token %>">
		<div class="black-button">
		  <input type="submit" value="Save">
		</div>
	</div>
</form>
