/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

/*// Reset Css*/
h1, div, span, a, body, li, ul {
  text-decoration: none;
  margin: 0;
  padding: 0;
  list-style: none;
  border: none;
}
a:visited {
  color: black;
}
*:focus {
  outline: 0;
}
/*// end of reset css*/
body {
  margin-top: 30px;
}

/*
 * Header
 */
.page-header {
  z-index: 100;
  background: white;
  color: black;
  padding: 10px;
  line-height: 31px;
  box-shadow: 0 1px 5px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.2);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
  .page-header > a {
    font-weight: bold;
    text-transform: uppercase;
    font-family: sans-serif;
  }
  .page-header a { color: black; }
  .page-header > nav {
    display: inline-block;
    margin-left: 1em;
  }
    .page-header > nav > a {
      margin: 0 1em;
      font-family: sans-serif;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 13px;
      color: #333;
    }

  .page-header-logo-link {
    display: inline-block;
    width: 31px;
    height: 31px;
    background: transparent url('/../assets/images/artsy_mark_purple.png') center center no-repeat;
    text-indent: -99999px;
  }
