@import 'compass/css3'
@import 'compass/utilities/general/clearfix'

$serif: "adobe-garamond-pro"
$sans-serif: "AvantGardeGothicITCW01D 731075", "Helvetica Neue", Arial, Helvetica, sans-serif

// Colors
$gray: #e5e5e5
$dark-gray: #aaa
$purple: #6a0bc1
$chevron-right: url(asset_path('chevron_right.png'))

@mixin sans-serif
  font-family: $sans-serif
  font-weight: 500
  letter-spacing: 2px
