<header class='page-header'>
  <nav>
    <%= link_to "S'UP at #{ENV['COMPANY_NAME'] || 'Artsy'}", :root %>
    <%= link_to 'Member List', members_path %>
    <%= link_to 'Team Navigator', team_index_path %>
  </nav>
</header>
