<div class="black-button"><%= link_to "Add a new email", action: "new" %></div>

<div class="member-list">
  <% @members.each do |member| %>
    <%= link_to member.email, { action: "edit", id: member }, class: "member-list-item" %>
  <% end %>
</div>
