<%= link_to 'Add a new email', new_member_path, class: 'black-button button--block' %>

<div class="info">Members who have requested to be excluded from S'up are <span>grayed out.</span></div>

<div class="member-list">
  <% @members.each do |member| %>
	<% status = (member.skip_meetings ? 'inactive' : 'active') %>
    <%= link_to member.name, { action: "edit", id: member }, class: "member-list-item #{status}" %>
  <% end %>
</div>
