<h1>Listing members</h1>

<%= link_to "Add a new email", action: "new" %>

<table>
  <tr>
    <th>email</th>
    <th>edit</th>
  </tr>

  <% @members.each do |member| %>
    <tr>
      <td><%= member.email %></td>
      <td><%= link_to "Edit", action: "edit", id: member %></td>
    </tr>
  <% end %>
</table>