<div class="black-button"><%= link_to "Add a new email", action: "new" %></div>

<table>

  <% @members.each do |member| %>
    <tr class="member-list-item">
      <td><%= member.email %></td>
      <td class="edit-arrow"><%= link_to "", action: "edit", id: member %></td>
    </tr>
  <% end %>
</table>