<h2>Add a new email</h2>

<form action="<%= members_url %>" method="post">
  <label>Name</label>
  <input type="text" name="member[name]">
  <label>Email</label>
  <input type="text" name="member[email]">

  <% Group.all.each do |group| %>
    <label>
      <input
        type="checkbox"
        name="member[group_ids][]"
        value="<%= group.id %>">
      <%= group.name %>
    </label>
  <% end %>

  <input
     name="authenticity_token"
     type="hidden"
     value="<%= form_authenticity_token %>">

  <input type="submit">
</form>
